<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1060122330535-t0cme1ubo24l27ifodkg40gf9eia8m19.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1060122330535-t0cme1ubo24l27ifodkg40gf9eia8m19</string>
	<key>API_KEY</key>
	<string>AIzaSyB3A-2inQNWE3BaLKA2amxUVCQW4Akcq68</string>
	<key>GCM_SENDER_ID</key>
	<string>1060122330535</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.whatsappClone</string>
	<key>PROJECT_ID</key>
	<string>whatsapp-dude-fde13</string>
	<key>STORAGE_BUCKET</key>
	<string>whatsapp-dude-fde13.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1060122330535:ios:5dc8f967ea18805b24e282</string>
</dict>
</plist>